/projects.el
/auto-save-list/
/elpa/
/eshell/
/recentf
/projectile-bookmarks.eld
/eclipse.jdt.ls/
/workspace/
/projectile.cache
/.cache
/session.*
/rls-linux/
/.dap-breakpoints
/abbrev_defs
/elixir-ls/
/tramp
/.lsp-session-v1
/.jest-reports/
/helm-adaptive-history
